:root {
    --green-color: #82e500;
    --bluetooth-color: #2344e8;
    --bluelight-color: #9dc3e6;
    --red-color: #ff4500;
    --off-color: lightgray;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.global {
    border: 3px solid;
    border-radius: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* Adjust for column padding */
}

.col {
    box-sizing: border-box;
    padding: 10px;
}

.on {
    color: var(--green-color);
}

.off {
    color: var(--red-color);
}

.picto {
    text-align: end;
}

.picto svg {
    height: 30px;
}

.picto .bi-wifi {
    fill: var(--green-color);
}

.picto .bi-reception-4 {
    fill: var(--bluelight-color);
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--green-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--green-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

/* Responsive columns */
.col-1 { width: 20%; }
.col-3 { width: 33.33%; }
.col-5 { width: 50%; }

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
    .col-1, .col-3 {
        width: 100%;
    }
}